# Comprobando el Dataset

In [169]:
import pandas as pd

In [199]:
train = pd.read_csv("train.csv", index_col = "id")
test= pd.read_csv("test.csv", index_col = "id")
submission = pd.read_csv('sample_submission.csv')
train

,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
id,,,,,,,,,,,,,,,,,,,
0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,Vidya,Female,18.0,Ahmedabad,Working Professional,NaN,NaN,5.0,NaN,NaN,4.0,5-6 hours,Unhealthy,Class 12,No,2.0,4.0,Yes,1
140696,Lata,Female,41.0,Hyderabad,Working Professional,Content Writer,NaN,5.0,NaN,NaN,4.0,7-8 hours,Moderate,B.Tech,Yes,6.0,5.0,Yes,0
140697,Aanchal,Female,24.0,Kolkata,Working Professional,Marketing Manager,NaN,3.0,NaN,NaN,1.0,More than 8 hours,Moderate,B.Com,No,4.0,4.0,No,0
140698,Prachi,Female,49.0,Srinagar,Working Professional,Plumber,NaN,5.0,NaN,NaN,2.0,5-6 hours,Moderate,ME,Yes,10.0,1.0,No,0
140699,Sai,Male,27.0,Patna,Student,NaN,4.0,NaN,9.24,1.0,NaN,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [196]:
import pandas as pd

def diving_data(train, test, submission):
    # Obtener las dimensiones de los datasets
    num_train_rows, num_train_columns = train.shape
    num_test_rows, num_test_columns = test.shape
    num_submission_rows, num_submission_columns = submission.shape

    # Imprimir información sobre el dataset de entrenamiento
    print("Training Data:")
    print(f"Number of Rows: {num_train_rows}")
    print(f"Number of Columns: {num_train_columns}\n")

    # Imprimir información sobre el dataset de test
    print("Test Data:")
    print(f"Number of Rows: {num_test_rows}")
    print(f"Number of Columns: {num_test_columns}\n")

    # Imprimir información sobre el dataset de submission
    print("Submission Data:")
    print(f"Number of Rows: {num_submission_rows}")
    print(f"Number of Columns: {num_submission_columns}")

    # Contar valores nulos en los datasets
    train_null = train.isnull().sum().sum()
    test_null = test.isnull().sum().sum()

    print(f'\nNull Count in Train: {train_null}')
    print(f'Null Count in Test: {test_null}')

    # Contar filas duplicadas en los datasets
    train_duplicates = train.duplicated().sum()
    test_duplicates = test.duplicated().sum()
    submission_duplicates = submission.duplicated().sum()

    print(f"\nNumber of duplicate rows in train data: {train_duplicates}")
    print(f"Number of duplicate rows in test data: {test_duplicates}")
    print(f"Number of duplicate rows in submission data: {submission_duplicates}")

    # Imprimir número de valores únicos en las columnas del conjunto de entrenamiento
    print(f"\nNumber of unique values in train data:\n {train.nunique()}")

# Ejemplo de uso:
# diving_data(train, test, submission)

In [200]:
diving_data(train, test, submission)

Training Data:
Number of Rows: 140700
Number of Columns: 19

Test Data:
Number of Rows: 93800
Number of Columns: 18

Submission Data:
Number of Rows: 93800
Number of Columns: 2

Null Count in Train: 430876
Null Count in Test: 287291

Number of duplicate rows in train data: 0
Number of duplicate rows in test data: 0
Number of duplicate rows in submission data: 0

Number of unique values in train data:
 Name                                     422
Gender                                     2
Age                                       43
City                                      98
Working Professional or Student            2
Profession                                64
Academic Pressure                          5
Work Pressure                              5
CGPA                                     331
Study Satisfaction                         5
Job Satisfaction                           5
Sleep Duration                            36
Dietary Habits                            23
Degree                                   115
Have you ever had suicidal thoughts ?      2
Work/Study Hours                          13
Financial Stress                           5
Family History of Mental Illness           2
Depression                                 2
dtype: int64

In [173]:
# train['Depression'] = train['Depression'].map({'No': 0, 'Yes':1})

In [174]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140700 entries, 0 to 140699
Data columns (total 19 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Name                                   140700 non-null  object
 1   Gender                                 140700 non-null  object
 2   Age                                    140700 non-null  float64
 3   City                                   140700 non-null  object
 4   Working Professional or Student        140700 non-null  object
 5   Profession                             104070 non-null  object
 6   Academic Pressure                      27897 non-null   float64
 7   Work Pressure                          112782 non-null  float64
 8   CGPA                                   27898 non-null   float64
 9   Study Satisfaction                     27897 non-null   float64
 10  Job Satisfaction                       112790 non-null  float64
 11  Sleep Duration                         140700 non-null  object
 12  Dietary Habits                         140696 non-null  object
 13  Degree                                 140698 non-null  object
 14  Have you ever had suicidal thoughts ?  140700 non-null  object
 15  Work/Study Hours                       140700 non-null  float64
 16  Financial Stress                       140696 non-null  float64
 17  Family History of Mental Illness       140700 non-null  object
 18  Depression                             140700 non-null  int64
dtypes: float64(8), int64(1), object(10)
memory usage: 21.5+ MB

In [175]:
test

,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness
id,,,,,,,,,,,,,,,,,,
140700,Shivam,Male,53.0,Visakhapatnam,Working Professional,Judge,NaN,2.0,NaN,NaN,5.0,Less than 5 hours,Moderate,LLB,No,9.0,3.0,Yes
140701,Sanya,Female,58.0,Kolkata,Working Professional,Educational Consultant,NaN,2.0,NaN,NaN,4.0,Less than 5 hours,Moderate,B.Ed,No,6.0,4.0,No
140702,Yash,Male,53.0,Jaipur,Working Professional,Teacher,NaN,4.0,NaN,NaN,1.0,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No
140703,Nalini,Female,23.0,Rajkot,Student,NaN,5.0,NaN,6.84,1.0,NaN,More than 8 hours,Moderate,BSc,Yes,10.0,4.0,No
140704,Shaurya,Male,47.0,Kalyan,Working Professional,Teacher,NaN,5.0,NaN,NaN,5.0,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234495,Zoya,Female,49.0,Jaipur,Working Professional,Pilot,NaN,3.0,NaN,NaN,5.0,Less than 5 hours,Moderate,BSc,Yes,2.0,2.0,Yes
234496,Shlok,Male,29.0,Ahmedabad,Working Professional,Pilot,NaN,5.0,NaN,NaN,1.0,7-8 hours,Moderate,BE,Yes,11.0,3.0,Yes
234497,Rishi,Male,24.0,Visakhapatnam,Student,NaN,1.0,NaN,7.51,4.0,NaN,7-8 hours,Moderate,B.Tech,No,7.0,1.0,No
234498,Eshita,Female,23.0,Kalyan,Working Professional,Marketing Manager,NaN,4.0,NaN,NaN,2.0,5-6 hours,Healthy,BA,Yes,7.0,5.0,Yes
234499,Gauri,Female,43.0,Varanasi,Working Professional,Educational Consultant,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,B.Ed,No,11.0,2.0,No

In [176]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 93800 entries, 140700 to 234499
Data columns (total 18 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Name                                   93800 non-null  object
 1   Gender                                 93800 non-null  object
 2   Age                                    93800 non-null  float64
 3   City                                   93800 non-null  object
 4   Working Professional or Student        93800 non-null  object
 5   Profession                             69168 non-null  object
 6   Academic Pressure                      18767 non-null  float64
 7   Work Pressure                          75022 non-null  float64
 8   CGPA                                   18766 non-null  float64
 9   Study Satisfaction                     18767 non-null  float64
 10  Job Satisfaction                       75026 non-null  float64
 11  Sleep Duration                         93800 non-null  object
 12  Dietary Habits                         93795 non-null  object
 13  Degree                                 93798 non-null  object
 14  Have you ever had suicidal thoughts ?  93800 non-null  object
 15  Work/Study Hours                       93800 non-null  float64
 16  Financial Stress                       93800 non-null  float64
 17  Family History of Mental Illness       93800 non-null  object
dtypes: float64(8), object(10)
memory usage: 13.6+ MB

In [177]:
train.columns

Index(['Name', 'Gender', 'Age', 'City', 'Working Professional or Student',
       'Profession', 'Academic Pressure', 'Work Pressure', 'CGPA',
       'Study Satisfaction', 'Job Satisfaction', 'Sleep Duration',
       'Dietary Habits', 'Degree', 'Have you ever had suicidal thoughts ?',
       'Work/Study Hours', 'Financial Stress',
       'Family History of Mental Illness', 'Depression'],
      dtype='object')

In [182]:
train.describe(include="number")

,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Financial Stress,Depression
count,140700.000000,27897.000000,112782.000000,27898.000000,27897.000000,112790.000000,140700.000000,140696.000000,140700.000000
mean,40.388621,3.142273,2.998998,7.658636,2.944940,2.974404,6.252679,2.988983,0.181713
std,12.384099,1.380457,1.405771,1.464466,1.360197,1.416078,3.853615,1.413633,0.385609
min,18.000000,1.000000,1.000000,5.030000,1.000000,1.000000,0.000000,1.000000,0.000000
25%,29.000000,2.000000,2.000000,6.290000,2.000000,2.000000,3.000000,2.000000,0.000000
50%,42.000000,3.000000,3.000000,7.770000,3.000000,3.000000,6.000000,3.000000,0.000000
75%,51.000000,4.000000,4.000000,8.920000,4.000000,4.000000,10.000000,4.000000,0.000000
max,60.000000,5.000000,5.000000,10.000000,5.000000,5.000000,12.000000,5.000000,1.000000

In [183]:
train.describe(include="O")

,Name,Gender,City,Working Professional or Student,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Family History of Mental Illness
count,140700,140700,140700,140700,104070,140700,140696,140698,140700,140700
unique,422,2,98,2,64,36,23,115,2,2
top,Rohan,Male,Kalyan,Working Professional,Teacher,Less than 5 hours,Moderate,Class 12,No,No
freq,3178,77464,6591,112799,24906,38784,49705,14729,71138,70758

In [184]:
print("Checking for missing values in each column:\n")
print(train.isnull().mean() * 100)

Checking for missing values in each column:

Name                                      0.000000
Gender                                    0.000000
Age                                       0.000000
City                                      0.000000
Working Professional or Student           0.000000
Profession                               26.034115
Academic Pressure                        80.172708
Work Pressure                            19.842217
CGPA                                     80.171997
Study Satisfaction                       80.172708
Job Satisfaction                         19.836532
Sleep Duration                            0.000000
Dietary Habits                            0.002843
Degree                                    0.001421
Have you ever had suicidal thoughts ?     0.000000
Work/Study Hours                          0.000000
Financial Stress                          0.002843
Family History of Mental Illness          0.000000
Depression                                0.000000
dtype: float64

In [185]:
target_column = 'Depression'
categorical_features = train.select_dtypes(include=['object']).columns
numerical_features = train.select_dtypes(exclude=['object']).columns.drop(target_column)

print("Target Column:", target_column)
print("\nCategorical Columns:", categorical_features.tolist())
print("\nNumerical Columns:", numerical_features.tolist())

Target Column: Depression

Categorical Columns: ['Name', 'Gender', 'City', 'Working Professional or Student', 'Profession', 'Sleep Duration', 'Dietary Habits', 'Degree', 'Have you ever had suicidal thoughts ?', 'Family History of Mental Illness']

Numerical Columns: ['Age', 'Academic Pressure', 'Work Pressure', 'CGPA', 'Study Satisfaction', 'Job Satisfaction', 'Work/Study Hours', 'Financial Stress']

# Feature Engineering

In [186]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import numpy as np

In [187]:
def feature_engineering(data, profession_depression_rate, degree_depression_rate):
    data['Suicidal_Thoughts'] = data['Have you ever had suicidal thoughts ?'].apply(lambda x: 1 if str(x).strip().lower() == 'yes' else 0)
    data['Family_History'] = data['Family History of Mental Illness'].apply(lambda x: 1 if str(x).strip().lower() == 'yes' else 0)

    data['Stress_Level'] = data[['Work Pressure', 'Financial Stress']].sum(axis=1)
    data['Academic_Stress_Index'] = data['Academic Pressure'] * (1 - data['Study Satisfaction'].fillna(0))
    data['Work_Job_Interaction'] = data['Work/Study Hours'] * data['Job Satisfaction']
    data['Profession_Depression_Rate'] = data['Profession'].map(profession_depression_rate).fillna(0)
    data['Degree_Depression_Rate'] = data['Degree'].map(degree_depression_rate).fillna(0)


    sleep_quality_mapping = {
        'Less than 5 hours': 1,
        '5-6 hours': 2,
        '6-7 hours': 3,
        '7-8 hours': 4,
        'More than 8 hours': 5
    }
    data['Sleep_Quality_Index'] = data['Sleep Duration'].map(sleep_quality_mapping)

    data['Work_Stress_Ratio'] = data['Work Pressure'] / data['Work/Study Hours'].replace(0, np.nan)

    health_mapping = {'Healthy': 3, 'Moderate': 2, 'Unhealthy': 1}
    data['Dietary_Score'] = data['Dietary Habits'].map(health_mapping)

    data['Health_Index'] = data['Dietary_Score'] * data['Sleep_Quality_Index']
    data['Gender_Dietary'] = data['Gender'] + '_' + data['Dietary Habits']

    return data

profession_depression_rate = train.groupby('Profession')['Depression'].mean().to_dict()
degree_depression_rate = train.groupby('Degree')['Depression'].mean().to_dict()

train_data = feature_engineering(train, profession_depression_rate, degree_depression_rate)
test_data = feature_engineering(test, profession_depression_rate, degree_depression_rate)

In [188]:
X_train = train_data.drop(columns=['Depression'])
y = train_data['Depression']
X_test = test_data

numerical_columns = X_train.select_dtypes(include=['float64', 'int64']).columns
categorical_columns = X_train.select_dtypes(include=['object']).columns

numerical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_columns),
        ('cat', categorical_transformer, categorical_columns)
    ]
)

pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor)
])
pipeline.fit(X_train)

X = pipeline.transform(X_train)
test = pipeline.transform(X_test)

In [189]:
test

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 2813723 stored elements and shape (93800, 813)>

# Modelado

In [190]:
from sklearn.model_selection import StratifiedKFold

In [191]:
skfold = StratifiedKFold(n_splits=10, shuffle=True, random_state=101)

oof_preds = []
oof_accs = []

lgb_params = {
    'n_estimators': 1000,
    'verbosity': -1,
    'reg_alpha': 0.07021502355540011,
    'reg_lambda': 0.6661871194210232,
    'num_leaves': 8,
    'subsample': 0.6639435161816422,
    'colsample_bytree': 0.827910499961433,
    'bagging_freq': 7,
    'min_child_samples': 22,
}

In [192]:
import gc
from sklearn.metrics import accuracy_score
from lightgbm import LGBMClassifier
from sklearn.model_selection import StratifiedKFold
from lightgbm.callback import early_stopping

In [193]:
for fold, (train_idx, test_idx) in enumerate(skfold.split(np.zeros(X.shape[0]), y)):
    X_train, X_test = X[train_idx], X[test_idx]
    y_train, y_test = y.iloc[train_idx], y.iloc[test_idx]
    
    lgb_clf = LGBMClassifier(**lgb_params)
    lgb_clf = lgb_clf.fit(X_train, y_train,
                          eval_set=[(X_test, y_test)],
                          eval_metric='binary_logloss',
                          callbacks=[early_stopping(100)])
    y_pred = lgb_clf.predict(X_test, num_iteration=lgb_clf.best_iteration_)
    acc = accuracy_score(y_test, y_pred)
    oof_accs.append(acc)
    oof_preds.append(lgb_clf.predict_proba(test, num_iteration=lgb_clf.best_iteration_)[:,1])
    print(f"\nFold {fold+1}--> Accuracy Score: {acc:.6f}\n")
    
    del X_train, y_train, X_test, y_test, lgb_clf
    gc.collect()

acc_mean = np.mean(oof_accs)
acc_std = np.std(oof_accs)
print(f"\n\nAverage Fold Accuracy Score: {acc_mean:.6f} \xB1 {acc_std:.6f}\n\n")

Training until validation scores don't improve for 100 rounds
Early stopping, best iteration is:
[239]	valid_0's binary_logloss: 0.152293

Fold 1--> Accuracy Score: 0.940085

Training until validation scores don't improve for 100 rounds
Early stopping, best iteration is:
[474]	valid_0's binary_logloss: 0.14534

Fold 2--> Accuracy Score: 0.942644

Training until validation scores don't improve for 100 rounds
Early stopping, best iteration is:
[445]	valid_0's binary_logloss: 0.157593

Fold 3--> Accuracy Score: 0.936816

Training until validation scores don't improve for 100 rounds
Early stopping, best iteration is:
[426]	valid_0's binary_logloss: 0.145074

Fold 4--> Accuracy Score: 0.942644

Training until validation scores don't improve for 100 rounds
Early stopping, best iteration is:
[499]	valid_0's binary_logloss: 0.142257

Fold 5--> Accuracy Score: 0.939943

Training until validation scores don't improve for 100 rounds
Early stopping, best iteration is:
[349]	valid_0's binary_logloss: 0.151026

Fold 6--> Accuracy Score: 0.940583

Training until validation scores don't improve for 100 rounds
Early stopping, best iteration is:
[411]	valid_0's binary_logloss: 0.148522

Fold 7--> Accuracy Score: 0.939588

Training until validation scores don't improve for 100 rounds
Early stopping, best iteration is:
[609]	valid_0's binary_logloss: 0.156283

Fold 8--> Accuracy Score: 0.935963

Training until validation scores don't improve for 100 rounds
Early stopping, best iteration is:
[514]	valid_0's binary_logloss: 0.145558

Fold 9--> Accuracy Score: 0.941080

Training until validation scores don't improve for 100 rounds
Early stopping, best iteration is:
[375]	valid_0's binary_logloss: 0.150956

Fold 10--> Accuracy Score: 0.938024



Average Fold Accuracy Score: 0.939737 ± 0.002129

In [194]:
oof_preds
test_pred = (np.mean(oof_preds, axis=0)>0.5).astype(int)
test_pred

array([0, 0, 0, ..., 0, 1, 0])

In [195]:
submission[target_column] = test_pred

submission.to_csv('Pruebas/submission_testing.csv', index=False)